.text-shadow {
    text-shadow: 3px 3px 3px rgba(133, 118, 118, 0.5);
}

.signup {
    text-align: center;
}

.flashes h4 {
    line-height: 2;
}

body {
    background-image: url("../assets/img/background_picture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}