/*Body____________________________________________________________*/

.text-shadow {
    text-shadow: 3px 3px 3px rgba(217, 211, 211, 0.5);
}

.signup {
    text-align: center;
}

.flashes h4 {
    line-height: 2;
}

body {
    background-image: url("../assets/img/background_picture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
}

nav ul a,
nav .brand-logo,
.page-footer,
.fab {
    color: rgb(59, 58, 58);
}

.green.lighten-2 {
    color: rgb(0, 0, 0);
}

ul:not(.browser-default)>li {
    display: initial;
}

#full_recipe {
    margin: 20px;
}

.button {
    border-radius: 15px;
    margin: 10px;
}

.add_recipe-background {
    background-color: whitesmoke;
}

.card-panel {
    background-color: #c8e6c9;
}

.col .row {
    padding: 20px;
}


/*Img section--------------------------------------------*/
img {
    max-width: 100%;
    max-height: 100%;
    margin: 2em;
}
.activator {
    height: 220px;
    width: 220px;
}

.social-media {
    letter-spacing: 10px;
}
/*Media Query-------------------------------------------*/

@media only screen and (max-width: 992px) {
    body {
      width: 100%;
    }
    nav .brand-logo {
        left: 30%;
        font-size: 22px;
    }

    button#recipe-search-btn {
        margin-left: 3rem;
    }

    .input-field .prefix ~ input {
        width: calc(100% - 0rem);
        margin-left: 4rem;
    } 

    h2 {
        font-size: 2rem;
    }

    .button {
        border-radius: 15px;
        font-size: 10px;
        block-size: 30px;
        margin: 10px;
    }
    
    img {
        margin: 0;
    }
    }