{% extends "base.html" %}
{% block content %}

   
    <h3>Edit Recipes</h3>
        

    <div class="container col s12 m10 offset-m1 lighten-3 content-container" id="login-form">
        <div class="row">
       
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                <div class="card-panel">
                    <div class="row">
                        <!--Recipe Name-->
                        <div class="input-field col s12">
                            <input  id="recipe_name" name="recipe_name" type="text" class="validate" value="{{ recipe.recipe_name }}" required>
                            <label for="recipe_name">Recipe Name</label>
                        </div>
                    </div>
                    <!--Category and Cusine section-->
                   <div class="row">
                        <div class="input-field col s12 m6">
                            <select name="category_name" id="category_name" class="validate" required>
                                <option value="" disabled>Select Category</option>
                                {% for category in categories %}
                                    {% if category.category_name == recipe.category_name %}
                                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                    {% else %}
                                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="category_name">Category</label>
                        </div> 
                        <div class="input-field col s12 m6">
                            <select name="cuisine_name" id="cuisine_name" required>
                                <option value="" disabled>Select Cuisine</option>
                                {% for cuisine in cuisines %}
                                    {% if cuisine.cuisine_name == recipe.cuisine_name %}
                                        <option value="{{ cuisine.cuisine_name }}" selected>{{ cuisine.cuisine_name }}</option>
                                    {% else %}
                                        <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="cuisine_name">Cuisine</label>
                        </div> 
                    </div>
                    <!-- image section-->
                   <div class="row">
                        
                        <div class="input-field col s12 m6">
                            <input id="image_url" name="image_url" type="text" class="validate" value="{{ recipe.image_url }}">
                            <label for="image_url">Image Url</label>
                            <span>Add image if you have some available or leave blank</span>
                        </div>
                   </div>
                   <!--Allergens section-->
                   <div class="row">
                    <div class="allergens mb-20">
                        <h4 class="mb-10 center-align black-text text-darken-4"><strong>Allergens</strong></h4>
                        {% for allergen in allergens %}
                            <div class="input-field col s6 m3 mt-0 mb-0 height-40 allergen">
                                <p>
                                    <label for="{{ allergen.allergen_name }}">
                                        <input type="checkbox" class="filled-in" id="{{ allergen.allergen_name }}" name="allergens" value="{{ allergen.allergen_name }}">
                                        <span>{{ allergen.allergen_name }}</span>
                                    </label>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            
               <hr class="mb-40">
                <!--Ingredients section-->
                <div class="row" >
                    <div class="row">
                        <div class="ingredients center-align">
                            <h4><strong>Ingredients</strong></h4>
                            <div class="row add-ing" id="add-ing">
                                <div class="container">
                                    <div class="ingredients" id="ingredients">
                                        <div class="ingredients  ingredinet col l12">
                                            <input  id="ingredients" type="text"  name="ingredients" class="ingredients" required>
                                            <label for="ingredients">Quantity and Ingredients</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <div class="col l6">
                                        <a class="btn-floating btn-small waves-effect waves-light green" id="add-btn-ing" name="add-btn-ing" class="add-btn-ing"><i class="fas fa-plus"></i></a>
                                        <label for="add-btn-ing">Add</label>
                                    </div>
                                    <div class="col l6">
                                        <a class="btn-floating btn-small waves-effect waves-light red btn-remove" id="btn-remove"><i class="fas fa-minus"></i></a>
                                        <label for="remove">Remove</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Instruction section-->
                <div class="row" >
                    <div class="row">
                        <div class="ingredients center-align">
                            <h4><strong>Instruction</strong></h4>
                            <div class="row">
                                <div class="container">
                                    <div class="col l12 instructions step" id="instructions">
                                        <input id="instructions" type="text"  name="instructions" class="instructions" required>
                                        <label for="instructions">Instruction</label>
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <div class="col l6">
                                        <a herf="#" class="btn-floating btn-small waves-effect waves-light green" id="add-btn-ins" name="add-btn-ins" class="add-btn-ins"><i class="fas fa-plus"></i></a>
                                        <label for="add-btn-ins">Add</label>
                                    </div>
                                    <div class="col l6">
                                        <a  herf="#" class="btn-floating btn-small waves-effect waves-light red btn-remove-ins" id="btn-remove-ins"><i class="fas fa-minus"></i></a>
                                        <label for="remove">Remove</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <button class="btn waves-effect waves-light green  submit-btn button" type="submit" name="action">Save Changes<i class="fas fa-sign-in-alt"></i>
                    </button>
                    <a href="{{ url_for('get_categories') }}" class="waves-effect waves-light btn red submit-btn mt-20 button">Cancel</a>
                   
                </div>
            
            </form>
        </div>
    </div>
{% endblock %}