{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <!--User's page opening with user's name-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3> {{ username.capitalize() }}'s recipes</h3>
                    <h5 class="section-subheading text-muted">Manage your recipes.</h5>
                </div>
            </div>
        </div>
        <!--Users own recipes, they can see recipe name, cuisine, category-->
        <div class="row center-align background-decoration">
            {% for recipe in recipes %}
            <div class="col s12 m6 l4 offset-m1">
                <div class="card-panel">
                    <div class="card-image">
                        {% if recipe.image_url|length %}
                        <img src="{{ recipe.image_url }}" class="activator" alt="">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h5 class="">{{ recipe.recipe_name.capitalize() }}</h5>
                        <p class="card-title">{{ recipe.category_name }}</p>
                        <!--User can click this button and see full of their ow recipes-->
                        <div class="row">
                            <h5><a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="btn-small light-blue black-text button">View</a></h5>
                        </div>
                    </div>
                    <!--User can edit or delete their own recipes-->
                    {% if session.user|lower == recipe.created_by|lower %}
                    <div class="row">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small green lighten-2 black-text button">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red lighten-1 black-text button">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
    
</div>


{% endblock %}