{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3> {{ username.capitalize() }}'s recipes</h3>
                    <h5 class="section-subheading text-muted">Manage your recipes.</h5>
                </div>
            </div>
        </div>
        <div class="row center-align background-decoration">
            {% for recipe in recipes %}
            <div class="col s12 m6 l4 offset-m1">
                <div class="card large">
                    <div class="card-image">
                        {% if recipe.image_url|length %}
                        <img src="{{ recipe.image_url }}" class="activator" alt="">
                        {% else %}
                        <img src="../static/images/logo.png" alt="">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <h5 class="">{{ recipe.recipe_name.capitalize() }}</h5>
                        <p class="card-title">{{ recipe.category_name }}</p>
                        <div class="row">
                            <a class="btn halfway-fab waves-effect waves-light red right"><i class="far fa-thumbs-up"></i></a>
                        </div>
                        <div class="row">
                            <a class="green-text" href="{{ url_for('recipe', recipe_id=recipe._id) }}">Full recipe </a>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name.capitalize() }}<i
                                class="far fa-times-circle right"></i></span>
                           <ul>
                            {% for ingredient in recipe.ingredients %}
                            <li>
                                {{ ingredient }}
                            </li>
                        {% endfor %}
                           </ul>
                    </div>
                    {% if session.user|lower == recipe.created_by|lower %}
                    <div class="row">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small green lighten-2 black-text button">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red lighten-1 black-text button">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
    
</div>


{% endblock %}