{% extends "base.html" %}
{% block content %}

    <header class="signup">
        <h3>Wellcome to Green Recipes</h3>
        <p><strong>Sign up for create own recipes, save, edit, delete</strong></p>
    </header>
    <!--On thi section user can sign up with username, email, password-->
    <div class="row">
        <h4 class="center-align">Sign Up</h4>
        
        <form class="col s12 m8 offset-m2 green lighten-4" method="POST" action="{{ url_for('signup') }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix green-text text-lighten-1"></i>
                        <input placeholder="Placeholder" id="username" name="username" type="text" minlength="5" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="first_name">Username</label>
                    </div>
                </div>
               <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fas fa-envelope-open prefix green-text text-lighten-1"></i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
               </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fas fa-lock prefix green-text text-lighten-1"></i>
                        <input id="password" type="password"  name="password" minlength="5" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fas fa-lock prefix green-text text-lighten-1"></i>
                        <input id="password_reconfirm" type="password"  name="password_reconfirm" minlength="5" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Re-Confirm Password</label>
                        <span id='message'></span>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn green lighten-3">
                        Submit <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        
        </form>
    </div>
    <div class="row">
        <!--If user already sign up this link will direct them to the login page-->
        <div class="col s12">
            <p class="center-align">
                Already Registered? <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}